[submodule "submodules/acfu-sdk"]
	path = submodules/acfu-sdk
	url = https://github.com/3dyd/acfu-sdk/
[submodule "submodules/fmt"]
	path = submodules/fmt
	url = https://github.com/fmtlib/fmt
	branch = release
[submodule "submodules/foobar2000"]
	path = submodules/foobar2000
	url = https://github.com/TheQwertiest/foobar2000-sdk
[submodule "submodules/pfc"]
	path = submodules/pfc
	url = https://github.com/TheQwertiest/pfc
[submodule "submodules/range"]
	path = submodules/range
	url = https://github.com/ericniebler/range-v3
[submodule "submodules/span"]
	path = submodules/span
	url = https://github.com/martinmoene/span-lite
[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/nlohmann/json.git
	branch = master
